{{lookup-form zipLookup="zipLookup"}}
<hr>

<button class="btn btn-primary" {{action 'committees'}}>Show Committee List</button>
<hr>
<button class="btn btn-primary" {{action 'billList'}}>Show list of Laws</button>
